table {
	width: 100%;
}
table thead {
	background-color: #e4ecf0;
}
table thead th {
	padding: 10px;
	border: 1px solid #e4ecf0;
}
table tbody td {
	padding: 10px;
	border: 1px solid #e4ecf0;
}
tr td:nth-child(2) {
	width: 27%;
}
tr td:nth-child(3) {
	width: 25%;
}
